<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tutor Form Page | One Step Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/media.css">
        <link rel="stylesheet" href="css/easy-autocomplete.css">
        <link rel="stylesheet" href="css/easy-autocomplete.themes.css"> 
        <link rel="stylesheet" href="css/bootstrap-combined.min.css">
        <link rel="stylesheet" href="https://mgcrea.github.io/angular-strap/styles/libs.min.css">
        <link rel="stylesheet" href="css//docs.min.css">
    </head>
    <body ng-app= "mgcrea.ngStrapDocs">
     <div class="container gray-bg" id="firstStepTutor">
           <form name="myForm" action="tutor-2.html">
            <header>
              <div class="logo row">
              <div class="col-6">
                <img src="img/logo.png" alt="osu logo">
              </div>
              <div class="col-6">
              </div>
              </div>
              <div class="progress-bar-style row">
                <div class="col-9 f-s-20">
                 Welcome back, Shashank
                </div>
                <div class="col-3">
                  <span class="step-up"></span>
                </div>
              </div>
          </header>
            <btst-accordion>
              <btst-pane title="PERSONAL DETAILS"  category="{name:'test'}">
                <div></div>
              </btst-pane>
              <btst-pane title="ACADEMIC DETAILS">
                <div></div>
              </btst-pane>
            <btst-pane title="TUTOR">
            <div class="fields">
            <div ng-controller="myCtrl">
             <label class="field p-l-15"  style="display:block" for="">TUTOR</label>  
              <div class="row field">
             
              <div class="col-2"> 
              <label for="">Salutation<span class="star">*</span></label>
              <select name="salutation" id="" class="form-control" required>
                    <option disabled selected>--Select--</option>
                    <option value="XI">Mr.</option>
                    <option value="XII">Mrs.</option>
                  </select><span style="color:red" ng-show="myForm.salutation.$touched && myForm.salutation.$invalid">Salutation is required.</span>
              </div>
                <div class="col-7"> 
                               
                  <label for="">Full Name<span class="star">*</span></label>
                  <input type="text" class="form-control" id="name" name = "name" ng-model ="name" value="" placeholder="First and Last Name" required><span style="color:red" ng-show="myForm.name.$touched && myForm.name.$invalid">The name is required.</span>
                </div>
                <div class="thumb-up col-3">
                  <img ng-show ="name" src="img/thumb-up.png" alt="Thumb up">
                </div>
              </div>
              <div class="row field">
                <div class="col-9 radio-style">
                  <p class="label-text">Type of course</p>
                  <input type ="radio" ng-model ="course" name ="course"  id ="full"><label for="full"><span></span> Full Course</label><input type ="radio" name ="course"  ng-model ="course" id ="crash"><label for="crash"><span></span>Crash Course </label><input type ="radio" name ="course" ng-model ="course" id ="solving"><label for="solving"><span></span> Problem Solving</label>
                </div>
                
                <div class="thumb-up col-3">
                  <img ng-show ="course" src="img/thumb-up.png" alt="Thumb up">
                </div>
              </div>
              <div class="row field thumb-align">
                <div class="col-9">
                  <label for="careersInterestedInText">Subjects<span class="star">*</span></label>
                  <input type="text" class="form-control" name ="career" id="careersInterestedInText" placeholder="Search and select subjects" ng-model = "career" required><span style="color:red" ng-show="myForm.career.$touched && myForm.career.$invalid">subjects are required.</span>
                  <ul class="interested-List" id="careersInterestedInAdded">
                  </ul>
                </div>
                
                <div class="thumb-up col-3">
                  <img ng-show ="career" src="img/thumb-up.png" alt="Thumb up">
                </div>
              </div>
              <div class="row field">
              <div class="col-9 radio-style">
                 <p class="label-text">Where do you study?</p>
                  <input type ="radio" ng-model ="location" name ="location" id ="home"> <label for="home"><span></span>Home</label><input type ="radio" ng-model ="location" name ="location" id="center"><label for="center"><span></span> Center</label> 
                </div>
                <div class="thumb-up col-3">
                  <img ng-show ="location" src="img/thumb-up.png" alt="Thumb up"> 
                </div>
                </div>
              <div class="row field thumb-align">
                <div class="col-9">
                  <label for="">Address of the center<span class="star">*</span></label>
                  <input type="text" name="address" ng-model="address" class="form-control m-b-20" value="" placeholder="Address" required><span style="color:red" ng-show="myForm.address.$touched && myForm.address.$invalid">Address required.</span>
                  <input type="text" class="form-control m-b-20" value="" placeholder="Location / Town">
                  <input type="text" class="form-control m-b-20 w49" value="" placeholder="City / District"><input type="text" class="form-control m-b-20 w49 fr" value="" placeholder="Pin Code">
                  <input type="text" class="form-control m-b-20 w49" value="" placeholder="Phone Number"><input type="text" class="form-control m-b-20 w49 fr" value="" placeholder="E-Mail ID">
                </div>
                <div class="thumb-up col-3">
                  <img ng-show="address" src="img/thumb-up.png" alt="Thumb up">
                </div>
              </div></div>
             
              <div class="row field">
              <div class="col-12">
              <label for="">Number of Students who attend with me</label>
              <div ng-controller="CounterController">
              <input type="text" value= {{count}}><input type='button' value='+' ng-click="increment();"><input type='button' value='-' ng-click="decrement();">
              </div>
              </div>
              </div>

              <div class="row field">
              <div class="col-4">
              <label for="">Tutor's Fee</label>
              <input type="text" class="form-control" value="" placeholder="Rs.">
              </div>
              <div class="col-1">per
              </div>
              <div class="col-4">
              <label for="">Paid every</label>
               <select name="" id="" class="form-control">
                    <option disabled selected>--Select--</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
              </div>
              <div class="thumb-up col-3">
                  <!-- <img src="img/thumb-up.png" alt="Thumb up"> -->
                </div>
              </div>
               

              <div class="row field">
              <div class="col-2">
               <label for="">Class Duration</label>
              <div ng-controller="CounterController">
              <input type="text" class="w49" value= {{count}}><input type='button' value='+' ng-click="increment();"><input type='button' value='-' ng-click="decrement();"></div>
              </div>
              <div class="col-1">Hrs</div>
              
              
              <div class="col-2">
              <label for=""># of Classes</label>
              <div ng-controller="CounterController">
              <input type="text" class="w49" value= {{count}}><input type='button' value='+' ng-click="increment();"><input type='button' value='-' ng-click="decrement();"></div></div>
              <div class="col-1">per</div>
              
              
               <div class="col-3">
               <select name="" id="" class="form-control">
                    <option disabled selected>--Select--</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
               </div>
              <div class="thumb-up col-3">
                 <!--  <img src="img/thumb-up.png" alt="Thumb up"> -->
                </div> 
              </div>
             
              <div class="row field m-b-115">
               
                <div class="col-3">
                <div ng-controller="TimepickerCtrl" ng-class="{'has-error': timepickerForm.time.$invalid}">
             
                  <input type="text" size="8" ng-model="time" name="time" bs-timepicker><i class="fa fa-clock-o"></i>
                </div></div>
                <div class="col-2">
                  to
                </div>
                
                <div class="col-2">
                <div ng-controller="TimepickerCtrl" ng-class="{'has-error': timepickerForm.time.$invalid}">
                  <input type="text"  size="8" ng-model="time" name="time" bs-timepicker><i class="fa fa-clock-o"></i>
                </div></div>
                 <div class="col-2">
                 
                 </div>
                
               <div class="thumb-up col-3">
                  <!-- <img src="img/thumb-up.png" alt="Thumb up"> -->
                </div>  
              </div>
              
               <div class="row field">
              <div class="col-9">
                  <input type='button' class="tutorbtn" value='SAVE & RATE YOUR TUTOR'>
                </div>
                <div class="thumb-up col-3">
                  <!-- <img src="img/thumb-up.png" alt="Thumb up">  -->
                </div>
                </div>
              </div>
               </btst-pane>
              </btst-accordion>
              <div class="action">  
                <!-- <button class="btn btn-primary">Continue</button> -->
                <button class="btn1 btn-primary1">Continue</button>
              </div>
          
           
      </form>
        </div>
        
        
            
       
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
        <script src="js/vendor/bootstrap.min.js"></script>
        <script defer="" src="https://togetherjs.com/togetherjs.js"></script>
        <script src="js/main.js"></script>
         <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/vendor/jquery.easy-autocomplete.js"></script>
         <script src="https://cdn.jsdelivr.net/angularjs/1.5.5/angular-animate.min.js" data-semver="1.5.5"></script>
        <script src="https://cdn.jsdelivr.net/angularjs/1.5.5/angular-sanitize.min.js" data-semver="1.5.5"></script>
        <script src="https://mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.8"></script>
        <script src="https://mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.8"></script>
        <script src="https://mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.8"></script>
          
       <!--  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
       <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
       <script src="js/plugins.js"></script>
       <script src="js/main.js"></script> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
